# Compiled Java class files
*.class

# Maven build directory
target/

# Eclipse project files
.project
.classpath
.settings/

# Temporary files
*.tmp
*.log

# Dependencies managed by Maven or other build tools
/lib/

src/main/webapp/css/bootstrap.min.css